<% layout('layouts/boilerplate') %>
<div class="ctn">
  <div class="prod-ctn">
    <% for(let product of products) {%>
    <div class="card card-cart">
      <a class="card-heading" href="/products/<%= product.productData._id %> "
        ><h3><%= product.productData.Name %></h3></a
      >
      <img
        src="<%= product.productData.Images[0] %> "
        alt="Error"
        class="card-image"
      />
      <div class="p-ctn">
        <h5 class="card-price">
          Price - &#x20B9; <%= product.productData.Price%> per kg
        </h5>
        <h5 class="card-quantity">Units - <%= product.quantity %></h5>
        <h5 class="card-Tprice">
          Total Price - &#x20B9; <%= product.productData.Price *
          product.quantity%>
        </h5>
        <a href="/removeFromCart/<%= product.productData._id %> "
          ><button>Remove From cart</button></a
        >
      </div>
    </div>
    <% } %>
  </div>
</div>
