<% layout('layouts/boilerplate') %>
<div class="tableCtn">
  <table class="content-table">
    <thead>
      <tr>
        <th>Sr.no.</th>
        <th>Name</th>
        <th>Price</th>
        <th>Units</th>
        <th>Sub total</th>
      </tr>
    </thead>
    <tbody class="body">
      <% for(let i = 0; i < products.length; i++){ %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= products[i].product.Name.toUpperCase() %></td>
        <td>&#8377;<%= products[i].product.Price %></td>
        <td><%= products[i].quantity %></td>
        <td>&#8377;<%= products[i].quantity * products[i].product.Price %></td>
      </tr>
      <%} %>
    </tbody>
    <tfoot class="foot">
      <tr class="row">
        <td>Grand Total -</td>
        <td>&#8377;<%= price %></td>
      </tr>
    </tfoot>
  </table>
</div>
<!-- <tbody class="body">
    <% for(let i = 0; i < products.length; i++){ %>
    <tr >
      <td><%= i+1 %> </td>
      <td><%= products[i].Name %> </td>
      <td><%=  %> </td>
      <td><%=  %> </td>
      <td><%=  %> </td>
    </tr>
    <%} %>
  </tbody> -->
